.feature {

	&__body {
	}

	&__title {
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__image {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		height: 199px;
		width: 668px;
		z-index: -1;

		@media (max-width: 1024px) {
			position: static;
			transform: translateX(0);
			height: auto;
			width: auto;
		}
	}

	&__list {
		// ! генератор колонок
		--gap: 15px;
		--flex-column: 2;
		--flex-width: calc((100% / var(--flex-column)) - (var(--gap) * (var(--flex-column) - 1)));
		@include list-reset;
		display: flex;
		flex-wrap: wrap;
		gap: 150px var(--gap);

		@media (max-width: 1400px) {
			gap: 80px var(--gap);
		}

		@media (max-width: 1024px) {
			--gap: 30px;
			row-gap: var(--gap);
		}
		@media (max-width: 500px) {
			--flex-column: 1;
		}
	}

	&__item {
		flex: 0 1 var(--flex-width);
		
	}
}

.feature-item {
	position: relative;
	@media (max-width: 1024px) {
		&::after {
			display: none;
		}
	}
	&:nth-child(1) {
		&::after {
			content: '';
			position: absolute;
			top: 13px;
			right: 10%;
			width: 55%;
			height: 100%;
			background-image: url('../images/icons/point-1.svg');
			background-position:0 0;
			background-repeat: no-repeat;
			background-size: 90%;
		}
	}
	&:nth-child(2) {
		&::after {
			content: '';
			position: absolute;
			top: 13px;
			left: -10%;
			width: 55%;
			height: 100%;
			background-image: url('../images/icons/point-1.svg');
			transform: scale(-1, 1);
			background-position:0 0;
			background-repeat: no-repeat;
			background-size: 80%;
		}
	}
	&:nth-child(3) {
		&::after {
			content: '';
			position: absolute;
			top: -45%;
			right: -15%;
			width: 80%;
			height: 100%;
			background-image: url('../images/icons/point-3.svg');
			background-position:0 0;
			background-repeat: no-repeat;
			background-size: 75%;
		}
	}
	&:nth-child(4) {
		&::after {
			content: '';
			position: absolute;
			top: -55%;
			left: 20%;
			width: 80%;
			height: 100%;
			background-image: url('../images/icons/point-4.svg');
			background-position:0 0;
			background-repeat: no-repeat;
			background-size: 30%;
		}
	}

	&:nth-child(2n) {
		.feature-item__wrapper {
			margin-left: auto;
		}
	}

	&__wrapper {
		max-width: 300px;
		@media (max-width: 1024px) {
			max-width: 100%;
			text-align: center;
		}
	}

	&__title {
		@include reset;
		max-width: 200px;

		@media (max-width: 1024px) {
			max-width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__text {
		@include reset;
	}
}